<div class="small-card">
  <h4>{{ title }}</h4>
  <ul>
    <li>
      <h5>Lucro:</h5>
      <p>{{ profit | currency : "BRL" }}</p>
    </li>
    <li>
      <h5>Salário:</h5>
      <p>{{ salary | currency : "BRL" }}</p>
    </li>
    <li>
      <h5>Custos:</h5>
      <p>{{ costs | currency : "BRL" }}</p>
    </li>
    <li>
      <h5>Adicionais:</h5>
      <p>{{ additional | currency : "BRL" }}</p>
    </li>
    <li>
      <h5>Total Líquido:</h5>
      <p>{{ salary + profit | currency : "BRL" }}</p>
    </li>
    <li>
      <h5>Total Bruto:</h5>
      <p>
        {{ salary + profit + costs + additional | currency : "BRL" }}
      </p>
    </li>
  </ul>
</div>
