<div class="container">
  <section>
    <header>
      <h3>Adicionar Precificação</h3>
      <button class="fechar-modal">
        <i class="fa fa-times"></i>
      </button>
    </header>
    <form>
      <div class="line">
        <div class="groupName">
          <label for="Nome">Nome </label>
          <input type="text" id="Nome" name="Nome" required />
        </div>

        <div class="groupCategory">
          <label for="qtde">Quantidade</label>
          <input
            type="number"
            class="custom-select"
            name="qtde"
            id="qtde"
            required
          />
        </div>
      </div>
      <div class="commoditiesArea">
        <div class="header">
          <h3>Adicionar insumos</h3>
          <button class="btnSave" (click)="openModal()">+</button>
        </div>
        <div id="drop-area" *ngIf="selectedItems.length > 0">
          <div *ngFor="let selectedItem of selectedItems" class="selectedItem">
            <h3>{{ selectedItem.name }}</h3>
            <p>Marca: {{ selectedItem.brand }}</p>
            <p>Preço: {{ selectedItem.value }}</p>
            <p>Quantidade: {{ selectedItem.quantity }}</p>
            <input
              type="number"
              [(ngModel)]="selectedItem.pricePerUnit"
              placeholder="Preço por unidade"
            />
            <input
              type="number"
              [(ngModel)]="selectedItem.usedQuantity"
              placeholder="Quantidade Usada"
            />
            <p>
              Valor Usado: {{ selectedItem.value * selectedItem.usedQuantity }}
            </p>
          </div>
        </div>
      </div>
      <div class="line">
        <div class="groupAdditional">
          <label for="additional">Adicional %</label>
          <input
            type="number"
            step="0.1"
            min="0"
            id="additional"
            name="additional"
            required
          />
        </div>

        <div class="groupProfitPercentage">
          <label for="profitPercentage">Lucro %</label>
          <input
            type="number"
            id="profitPercentage"
            name="profitPercentage"
            step="0.1"
            min="0"
            required
          />
        </div>
      </div>

      <div class="line">
        <div class="groupWorkHours">
          <label for="workHours">Horas</label>
          <input type="time" id="workHours" name="workHours" required />
        </div>
        <div class="groupSalary">
          <label for="salary">Salário</label>
          <p>{{ 54 | currency : "BRL" }}</p>
        </div>
      </div>

      <div class="line">
        <div class="groupCostTotal">
          <label for="costTotal">Custo Total</label>
          {{ 54 | currency : "BRL" }}
        </div>

        <div class="groupProductionCost">
          <label for="productionCost">Custo Prod</label>
          {{ 54 | currency : "BRL" }}
        </div>
      </div>

      <div class="line">
        <div class="groupSellingPrice">
          <label for="sellingPrice">Preço</label>
          {{ 54 | currency : "BRL" }}
        </div>
        <div class="groupProfitPercentage">
          <label for="profit">Lucro</label>
          {{ 54 | currency : "BRL" }}
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btnSave">Salvar</button>
        <button
          routerLink="/painel/precificacao"
          type="reset"
          class="btnCancel"
        >
          Cancelar
        </button>
      </div>
    </form>
  </section>
</div>
<app-pricing-modal
  (save)="handleSave($event)"
  [items]="items"
  *ngIf="open"
></app-pricing-modal>
