section {
  display: flex;
  overflow: hidden;
}

.display {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f8f8fa;
  overflow: auto;
}

.display::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

