section {
  display: flex;
  overflow: hidden;
}

.menu {
  max-width: 30%;
  height: calc(100vh - 100px);
}

.display {
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #f8f8fa;
  overflow: auto;
}
