@import "../../display/colors.scss";

.modalBackground {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.modalContent {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 16px;
  max-height: 90vh;
  max-width: 90vw;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchInput {
  margin-bottom: 16px;
  width: 100%;
}

.modal-header h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modalBody {
  margin-top: 10px;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: center;
  overflow-y: auto;
  max-height: calc(85vh - 210px);
  gap: 16px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cardsContainer::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #f8f8fa;
  padding: 16px;
  border-radius: 12px;
  cursor: pointer;
  max-width: 90%;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  background-color: #f9e8f2;
}

.card > input {
  margin-top: 24px;
}

.selected {
  box-shadow: 0 0 0 3px var(--display-secondary-color);
  background-color: #f9e8f2;
}

.card.selected input {
  border-color: var(--display-secondary-color);
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

button {
  padding: 8px 20px;
  margin-left: 10px;
  cursor: pointer;
}
