.container {
  padding: 0 50px;
}

.headerTop {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.headerTop > h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.listItem {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.item {
  min-width: 400px;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header > h3 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
}

.itemContent > p {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  margin-bottom: 8px;
}

button {
  color: #00cc66;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
}

button:hover {
  filter: brightness(0.8);
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .headerTop {
    flex-direction: column;
    align-items: center;
  }

  .item {
    min-width: 100%;
  }

  .headerTop > h2 {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}
