<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Ativos</option>
      <option value="false">Inativos</option>
    </select>
    <h2>Precificações</h2>
    <input type="text" name="" id="" />
  </header>

  <div class="listItem">
    <div class="item" *ngFor="let pricing of pricings">
      <div class="itemContent">
        <div class="header">
          <h3>{{ pricing.data.nome }}</h3>
          <div class="status finalizado">
            <span>Ativo</span>
          </div>
        </div>
        <p>
          Adicionado dia {{ pricing.data.created_at | date : "dd/MM/yyyy" }}
        </p>
        <p>Custo Total: {{ pricing.data.custoTotal | currency : "BRL" }}</p>
        <p>Salario: {{ pricing.data.salario | currency : "BRL" }}</p>
        <p>Lucro: {{ pricing.data.lucro | currency : "BRL" }}</p>
        <p>Valor total: {{ pricing.data.precoTotal | currency : "BRL" }}</p>
      </div>
      <button (click)="editPricing(pricing.id)">Editar</button>
    </div>
  </div>

  <div
    routerLink="/painel/precificacao/adicionar"
    class="floatButton"
    [style]="menuOpen ? 'right: 300px' : ''"
  >
    <fa-icon [icon]="faAdd" class="icon"></fa-icon>
  </div>
</section>
