@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
@import url("./app/page/display/colors.scss");

// $primary-color: #f9e8f2;
// $secondary-color: #541514;
$background-image: linear-gradient(
  -20deg,
  #ddd6f3 0%,
  #faaca8 100%,
  #faaca8 100%
);

// $title-font: "Courgette", cursive;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  max-height: 100vh;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.status {
  padding: 0 15px;
  border-radius: 12px;
  font-size: 14px;

  &.finalizado {
    color: rgba(0, 204, 102, 0.8);
    border: 1px solid rgba(0, 204, 102, 0.8);
    background: rgba(0, 204, 102, 0.2);
  }

  &.pendente {
    color: rgba(226, 92, 8, 0.8);
    border: 1px solid rgba(226, 92, 8, 0.8);
    background: rgba(226, 92, 8, 0.2);
  }

  &.producao {
    color: rgba(241, 210, 8, 0.8);
    border: 1px solid rgba(241, 210, 8, 0.8);
    background: rgba(241, 210, 8, 0.2);
  }

  &.cancelado {
    color: rgba(255, 51, 51, 0.8);
    border: 1px solid rgba(255, 51, 51, 0.6);
    background: rgba(255, 51, 51, 0.2);
  }
}

.btnCancel {
  padding: 4px 18px;
  border-radius: 12px;
  border: 1px solid var(--display-secondary-color);
  color: var(--display-secondary-color);
  background-color: transparent;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3;
  cursor: pointer;
}

.btnSave {
  padding: 4px 18px;
  border-radius: 12px;
  border: none;
  color: #fff;
  background-color: var(--display-secondary-color);
  font-size: 16px;
  font-weight: 600;
  transition: 0.3;
  cursor: pointer;
}

.btnCancel:hover,
.btnSave:hover {
  filter: contrast(2);
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 12px;
}

input {
  padding: 2px 10px;
  height: 40px;
  color: var(--display-secondary-color);
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #212121;
}

select {
  border: none;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
}

.floatButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--display-secondary-color);
  color: #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  margin-right: 84px;
  transition: all 0.3s;
}

.floatButton:hover {
  filter: contrast(0.8);
}

@media (max-width: 768px) {
  .floatButton {
    margin: 0;
  }
}
