<div class="container">
  <form [formGroup]="configForm">
    <div class="inputs">
      <label for="primaryColor">Cor Primária:</label>
      <input
        type="color"
        id="primaryColor"
        (change)="onChange()"
        formControlName="colorPrimaria"
      />
    </div>
    <div class="inputs">
      <label for="secondaryColor">Cor Secundária:</label>
      <input
        type="color"
        id="secondaryColor"
        (change)="onChange()"
        formControlName="colorSecundaria"
      />
    </div>
    <div class="inputs">
      <label for="headerFont">Fonte do Cabeçalho:</label>
      <select
        id="headerFont"
        (change)="onChange()"
        formControlName="fonteTitulo"
      >
        <option value="Arial, sans-serif">Arial</option>
        <option value="Verdana, sans-serif">Verdana</option>
        <option value="Georgia, serif">Georgia</option>
        <option value="Courgette, cursive">Courgette</option>
        <option value="Impact, sans-serif">Impact</option>
        <option value="Lobster, cursive">Lobster</option>
        <option value="Playfair Display, serif">Playfair Display</option>
        <option value="Open Sans, sans-serif">Open Sans</option>
        <option value="Roboto, sans-serif">Roboto</option>
        <option value="Poppins, sans-serif">Poppins</option>
        >
      </select>
    </div>
    <div class="font-preview">
      <p [style.font-family]="configForm.get('fonteTitulo')?.value">
        Exemplo de Texto
      </p>
    </div>
  </form>
</div>
