.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="color"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

input[type="file"] {
  margin-bottom: 20px;
}

#drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  gap: 16px;
  max-width: 100%;
}

#drop-area.active {
  border-color: #007bff;
}

#drop-area img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

.picture {
  width: 40px;
  height: 40px;
}

#imagem {
  display: none;
}

label[for="imagem"] {
  cursor: pointer;
}

label[for="imagem"] {
  color: #ff3333;
  cursor: pointer;
}
