@import "../../display/colors.scss";

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.inputs {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

label {
  display: block;
}

input[type="color"],
select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 16px;
  font-size: 16px;
}

input[type="file"] {
  margin-bottom: 20px;
}

.logo {
  text-align: center;
}

#drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px dashed #000;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  gap: 16px;
  max-width: 100%;
  margin-top: 16px;
}

#drop-area.active {
  border-color: var(--display-secondary-color);
}

#drop-area img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
}

.picture {
  width: 40px;
  height: 40px;
}

#imagem {
  display: none;
}

label[for="imagem"] {
  cursor: pointer;
}

label[for="imagem"] {
  color: var(--display-secondary-color);
  cursor: pointer;
}

.font-preview {
  margin-top: 20px;
}

.font-preview p {
  font-size: 24px;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}

a {
  color: var(--display-secondary-color);
  cursor: pointer;
  margin-top: 24px;
}
