<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Ativo</option>
      <option value="false">Inativo</option>
    </select>
    <h2>Produto</h2>
    <input type="text" name="" id="" />
  </header>
  <div class="cardList">
    <div class="card">
      <div class="cardDetail">
        <h3>Nome produto</h3>
        <div class="status finalizado">
          <span>Ativo</span>
        </div>
      </div>
      <img src="assets/Arte e açúcar (1) 1.svg" alt="" />
      <div class="cardMore">
        <h4>Preço de venda</h4>
        <p>{{ 125 | currency : "BRL" }}</p>
      </div>
    </div>
  </div>
  <div
    routerLink="/painel/produto/adicionar"
    class="floatButton"
    [style]="menuOpen ? 'right: 300px' : ''"
  >
    <fa-icon [icon]="faAdd" class="icon"></fa-icon>
  </div>
</section>
