<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Ativo</option>
      <option value="false">Inativo</option>
    </select>
    <h2>Produto</h2>
    <input type="text" name="" id="" />
  </header>
  <div class="cardList">
    <div class="card" *ngFor="let produto of produtcs">
      <div class="cardDetail">
        <h3>{{ produto.data.nome }}</h3>
        <div class="status finalizado">
          <span>Ativo</span>
        </div>
      </div>
      <img [src]="produto.data.urlImage" alt="" />
      <div class="cardMore">
        <h4>Preço de venda</h4>
        <p>{{ produto.data.precoTotal | currency : "BRL" }}</p>
      </div>
      <button (click)="editProduct(produto.id)">Editar</button>
    </div>
  </div>
  <div
    routerLink="/painel/produto/adicionar"
    class="floatButton"
    [style]="menuOpen ? 'right: 300px' : ''"
  >
    <fa-icon [icon]="faAdd" class="icon"></fa-icon>
  </div>
</section>
