<section>
  <header>
    <h1>GymGuide</h1>
    <span>Administração</span>
  </header>
  <h2>Faça login com sua conta</h2>
  <div class="formGroup">
    <label for="email">E-mail</label>
    <input type="email" class="formControl" id="email" #userEmail required />
    <label for="password">Senha</label>
    <input
      type="password"
      class="formControl"
      id="password"
      #userPassword
      required
    />
    <button class="btn btnPrimary" value="Log in" type="submit">Entrar</button>
  </div>
  <p>Não tem contra ? <a href="">Entre em contato com o suporte</a></p>
</section>
