@import "../../../../styles.scss";

.menuItem {
  display: flex;
  width: 100%;
  gap: 10px;
  padding: 10px 15px;
  align-items: center;
  justify-content: center;
  background-color: inherit;

  a {
    width: 100%;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 15px;
    text-decoration: none;
    color: $secondary-color;
  }

  a:hover {
    background-color: $primary-color;
  }
}
