@import "../../../../styles.scss";

.menuItemClose,
.menuItemOpen {
  width: 100%;
  padding: 10px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    width: 100%;
    border: 0.5px solid black;
    border-radius: 15px;
    cursor: pointer;

    text-decoration: none;
    color: $secondary-color;
  }

  a:hover {
    background-color: $primary-color;
  }
}

.menuItemOpen {
  a {
    gap: 16px;
  }

  span {
    visibility: visible;
    width: auto;
  }
}

.menuItemClose {
  padding: 10px 0;
  span {
    text-wrap: nowrap;
    visibility: hidden;
    width: 0;
  }
}
