.card {
  display: flex;
  flex-direction: column;
}

.header {
  text-align: center;
}

.content {
  height: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
