<div class="container">
  <section>
    <header>
      <h3>Adicionar Produto</h3>
    </header>

    <!-- testando tirar o form -->
    <div>
      <div class="line">
        <div class="groupName">
          <label for="Nome">Nome </label>
          <input
            type="text"
            id="Nome"
            name="Nome"
            required
            autocomplete="off"
            [(ngModel)]="nome"
          />
        </div>
      </div>
      <div
        id="drop-area"
        (drop)="onDrop($event)"
        (dragover)="onDragOver($event)"
      >
        <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" />
        <img
          class="picture"
          *ngIf="!previewUrl"
          src="../../../../assets/img/picture.png"
          alt=""
        />
        <p *ngIf="!previewUrl">
          Solte a imagem aqui ou clique para fazer upload.
        </p>
        <input
          type="file"
          id="imagem"
          name="imagem"
          accept="image/*"
          style="display: none"
          (change)="onFileSelected($event)"
        />
        <label for="imagem" *ngIf="!previewUrl"
          >Clique aqui para selecionar uma imagem</label
        >
      </div>
      <div class="commoditiesArea">
        <div class="header">
          <h3>Adicionar Precificação</h3>
          <button class="btnSave" (click)="openModal()">+</button>
        </div>
        <div id="drop-area" *ngIf="selectedItems.length > 0">
          <ng-container *ngFor="let selectedItem of selectedItems">
            <div class="selectedItem">
              <h3>{{ selectedItem.data.nome }}</h3>
              <p>
                Valor de Venda:
                {{ selectedItem.data.precoTotal | currency : "BRL" }}
              </p>
              <p>Quantidade: {{ selectedItem.data.quantidade }}</p>
              <input
                type="number"
                placeholder="Quantidade Usada"
                min="0"
                [(ngModel)]="selectedItem.usedQuantity"
              />
              <p>
                Valor Usado:
                {{
                  selectedItem.usedQuantity *
                    (selectedItem.data.precoTotal /
                      selectedItem.data.quantidade) | currency : "BRL"
                }}
              </p>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="line">
        <div class="groupAdditional">
          <label for="additional">Adicional Produto %</label>
          <input
            type="number"
            step="0.1"
            min="0"
            id="additional"
            name="additional"
            [(ngModel)]="porcentagemAdicional"
            required
          />
        </div>
        <div class="groupWorkHours">
          <label for="workHours">Horas Precificação</label>
          <input
            type="time"
            id="workHours"
            name="workHours"
            disabled
            [ngModel]="horasTrabalhadasPrecificacao"
          />
        </div>
      </div>

      <div class="line">
        <div class="groupAdditional">
          <label for="additionalValue">Adicional Produto R$</label>
          <input
            type="number"
            step="0.1"
            min="0"
            id="additionalValue"
            name="additionalValue"
            [(ngModel)]="valorAdicional"
            required
          />
        </div>
        <div class="groupWorkHours">
          <label for="workHours">Horas Adicional</label>
          <input
            type="time"
            id="workHours"
            name="workHours"
            required
            [(ngModel)]="horasTrabalhadasAdicional"
          />
        </div>
      </div>

      <div class="line">
        <div class="groupCostTotal">
          <label for="costTotal">Custo Precificações</label>
          {{ custoPrecificacoes | currency : "BRL" }}
        </div>
        <div class="groupProfitPercentage">
          <label for="profit">Lucro</label>
          {{ lucro | currency : "BRL" }}
        </div>
      </div>

      <div class="line">
        <div class="groupProductionCost">
          <label for="productionCost">Adicional Precificações</label>
          {{ adicionalPrecificacao | currency : "BRL" }}
        </div>
        <div class="groupSalary">
          <label for="salary">Salário</label>
          <p>{{ salario | currency : "BRL" }}</p>
        </div>
      </div>

      <div class="line">
        <div class="groupProductionCost">
          <label for="productionCost">Adicional Produto</label>
          {{ adicionalProduto | currency : "BRL" }}
        </div>
        <div class="groupSellingPrice">
          <label for="sellingPrice">Preço Total</label>
          {{ precoTotal | currency : "BRL" }}
        </div>
      </div>

      <div class="buttons">
        <button type="submit" class="btnSave" (click)="saveProduct()">
          Salvar
        </button>
        <button routerLink="/painel/produto" type="reset" class="btnCancel">
          Cancelar
        </button>
      </div>
    </div>
  </section>
</div>
<app-product-modal
  (save)="handleSave($event)"
  [items]="items"
  *ngIf="open"
  [selectedItems]="selectedItems"
>
</app-product-modal>
