<section>
  <div class="glassEffect">
    <div class="image">
      <img src="../../../assets/img/Login-rafiki.svg" alt="Loading" />
    </div>
    <div class="signIn">
      <header>
        <h1>PCP Doceria</h1>
        <span>Administração</span>
      </header>
      <h2>Faça login com sua conta</h2>
      <div class="formGroup">
        <label for="email">E-mail</label>
        <input
          type="email"
          class="formControl"
          id="email"
          #userEmail
          required
          (keydown.enter)="
            authService.SignIn(userEmail.value, userPassword.value)
          "
        />
        <label for="password">Senha</label>
        <input
          type="password"
          class="formControl"
          id="password"
          #userPassword
          required
          (keydown.enter)="
            authService.SignIn(userEmail.value, userPassword.value)
          "
        />
        <button
          class="btn btnPrimary"
          value="Log in"
          type="submit"
          (click)="authService.SignIn(userEmail.value, userPassword.value)"
        >
          Entrar
        </button>
      </div>
    </div>
  </div>
</section>
