@import "../../../styles.scss";

section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: $background-image;
  height: 100vh;
  width: 100vw;
  color: $secondary-color;
}

.glassEffect {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  gap: 60px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  border-radius: 12px;
  height: 85%;
  width: 85%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.image {
  width: 60%;
  img {
    width: 90%;
    height: 90%;
    user-select: none;
    -webkit-user-drag: none;
  }
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header > h1 {
  font-family: $title-font;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 5px;
}

header > span {
  font-size: 16px;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 24px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
}

label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-top: 12px;
}

input {
  padding: 2px 10px;
  height: 40px;
  color: $secondary-color;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #212121;
}

button {
  margin-top: 24px;
  padding: 8px;
  border-radius: 8px;
  background: #212121;
  border: none;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  filter: brightness(0.8);
}

button::before {
  cursor: not-allowed;
}

p {
  margin-top: 24px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

p > a {
  color: #212121;
  text-decoration: none;
}

@media (max-width: 768px) {
  .glassEffect {
    height: 80%;
  }

  .image {
    display: none;
  }

  header {
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 12px;
  }
}
