@import "../../../styles.scss";

.containerClose,
.containerOpen {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  transition: 0.3s;
}

.containerClose {
  width: 80px;
}

.containerOpen {
  width: 350px;
}

.sideMenuClose,
.sideMenuOpen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;

  overflow: auto;
  transition: all 0.3s;

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.sideMenuOpen {
  padding: 20px;
}

.sideMenuClose {
  padding: 10px;
}

@media (max-width: 768px) {
  .sideMenuOpen {
    width: 80%;
    position: absolute;
    right: 0;
  }

  .containerClose,
  .sideMenuClose {
    visibility: hidden;
    transition: 0.3s ease-in-out;
    position: absolute;
    right: 0;
  }

  .containerOpen {
    background-color: #51515167;
    width: 100vw;
    position: absolute;
    right: 0;
  }
}
