<div
  [class]="menuOpen ? 'containerOpen' : 'containerClose'"
  (click)="handleMenu()"
>
  <div [class]="menuOpen ? 'sideMenuOpen' : 'sideMenuClose'">
    <div>
      <ng-container *ngFor="let menuItem of listaMenuItens">
        <app-menu-item
          [titulo]="menuItem.nome"
          [link]="menuItem.link"
          [icon]="menuItem.icone"
          [menuOpen]="menuOpen"
        ></app-menu-item>
      </ng-container>
    </div>
    <app-menu-item
      titulo="Sair"
      link="/sign-in"
      [icon]="faSignOut"
      [menuOpen]="menuOpen"
    ></app-menu-item>
  </div>
</div>
