<section>
  <button class="expandButton" (click)="toggleMenu()">
    <i class="fa"></i>
  </button>

  <div
    class="menuItem"
    *ngFor="let key of getMenuKeys()"
    [class.expanded]="isMenuExpanded"
  >
    <span title="">
      <i class=""></i>
    </span>
    <a routerLinkActive="active" ariaCurrentWhenActive="page">teste</a>
  </div>
  >
  <!-- <div class="menuItem" (click)="logout()" [class.expanded]="isMenuExpanded">
    <span title="Logout">
      <i class="fa fa-sign-out"></i>
    </span>
    <a>Sair</a>
  </div> -->
</section>
