<div class="container">
  <section>
    <header>
      <h3>Adicionar Orçamento</h3>

      <button class="fechar-modal">
        <i class="fa fa-times"></i>
      </button>
    </header>
    <div class="line">
      <div class="groupName">
        <label for="name">Nome </label>
        <input type="text" id="name" name="name" required [(ngModel)]="nome" />
      </div>
    </div>
    <div class="line">
      <div class="groupAdditional">
        <label for="deliveryDate">Data entrega</label>
        <input
          type="datetime-local"
          id="deliveryDate"
          name="deliveryDate"
          [ngModel]="dataEntrega | date : 'yyyy-MM-ddTHH:mm'"
          (ngModelChange)="dataEntrega = $event"
          required
        />
      </div>
      <div class="groupAdditional">
        <label for="budgetDate">Data orçamento</label>
        <input
          type="datetime-local"
          id="budgetDate"
          name="budgetDate"
          [ngModel]="dataOrcamento | date : 'yyyy-MM-ddTHH:mm'"
          (ngModelChange)="dataOrcamento = $event"
          required
        />
      </div>
    </div>

    <div class="line">
      <div class="groupProfitPercentage">
        <label for="theme">Tema</label>
        <input
          type="text"
          class="custom-select"
          name="theme"
          id="theme"
          required
          [(ngModel)]="tema"
        />
      </div>
      <div class="groupAdditional">
        <label for="phone">Telefone</label>
        <input
          type="tel"
          id="phone"
          name="phone"
          required
          [ngModel]="telefone | phone"
          (ngModelChange)="telefone = $event"
        />
      </div>
    </div>
    <div class="line">
      <div class="groupProfitPercentage">
        <label for="nameKid">Nome exposição</label>
        <input
          type="text"
          class="custom-select"
          name="nameKid"
          id="nameKid"
          required
          [(ngModel)]="nomeCrianca"
        />
      </div>
      <div class="groupAdditional">
        <label for="age">Idade</label>
        <input
          type="text"
          id="age"
          name="age"
          required
          [(ngModel)]="idadeCrianca"
        />
      </div>
    </div>

    <div class="">
      <div class="textArea">
        <label for="obs">Anotações</label>
        <textarea
          name="obs"
          id="obs"
          cols="30"
          rows="10"
          [(ngModel)]="anotacoes"
        ></textarea>
      </div>
    </div>

    <div class="address">
      <div class="hasAddress">
        <span>Encomenda para entrega? </span>
        <label for="temEndereco">{{ temEndereco ? "Sim" : "Não" }}</label>
        <input
          type="checkbox"
          id="temEndereco"
          name="temEndereco"
          [(ngModel)]="temEndereco"
        />
      </div>
    </div>

    <h3 *ngIf="temEndereco">Endereço de entrega</h3>

    <div *ngIf="temEndereco" class="line">
      <div class="groupAdditional">
        <label for="rua">Rua</label>
        <input type="text" id="rua" name="rua" [(ngModel)]="rua" />
      </div>
      <div class="groupAdditional">
        <label for="numero">Número</label>
        <input type="text" id="numero" name="numero" [(ngModel)]="numero" />
      </div>
    </div>

    <div *ngIf="temEndereco" class="line">
      <div class="groupAdditional">
        <label for="cep">CEP</label>
        <input type="text" id="cep" name="cep" [(ngModel)]="cep" />
      </div>
      <div class="groupAdditional">
        <label for="bairro">Bairro</label>
        <input type="text" id="bairro" name="bairro" [(ngModel)]="bairro" />
      </div>
    </div>

    <div *ngIf="temEndereco" class="line">
      <div class="groupAdditional">
        <label for="cidade">Cidade</label>
        <input type="text" id="cidade" name="cidade" [(ngModel)]="estado" />
      </div>
      <div class="groupAdditional">
        <label for="estado">Estado</label>
        <input type="text" id="estado" name="estado" [(ngModel)]="estado" />
      </div>
    </div>

    <div id="drop-area" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
      <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" />
      <img
        class="picture"
        *ngIf="!previewUrl"
        src="../../../../assets/img/picture.png"
        alt=""
      />
      Solte a imagem aqui ou clique para fazer upload.
      <input
        type="file"
        id="imagem"
        name="imagem"
        accept="image/*"
        style="display: none"
        (change)="onFileSelected($event)"
      />
      <label for="imagem">Clique aqui para selecionar uma imagem</label>
    </div>
    <div class="commoditiesArea">
      <div class="header">
        <h3>Selecionar produtos</h3>
        <button class="btnSave" (click)="openModal()">+</button>
      </div>
      <div id="commodities-area" *ngIf="selectedItems.length > 0">
        <ng-container *ngFor="let selectedItem of selectedItems">
          <div class="selectedItem">
            <h3>{{ selectedItem.data.nome }}</h3>
            <p>Custo: {{ selectedItem.data.custoTotal | currency : "BRL" }}</p>
            <p>Lucro: {{ selectedItem.data.lucro | currency : "BRL" }}</p>
            <p>Salário: {{ selectedItem.data.salario | currency : "BRL" }}</p>
            <p>
              Valor de venda:
              {{ selectedItem.data.precoTotal | currency : "BRL" }}
            </p>
            <input
              type="number"
              [(ngModel)]="selectedItem.usedQuantity"
              placeholder="Quantidade Usada"
              min="0"
            />
            <p *ngIf="selectedItem.usedQuantity > 0">
              Valor Total:
              {{
                selectedItem.data.precoTotal * selectedItem.usedQuantity
                  | currency : "BRL"
              }}
            </p>
          </div>
        </ng-container>
      </div>
    </div>

    <div class="line">
      <div class="groupAdditional">
        <label for="additional">Adicional %</label>
        <input
          type="number"
          step="0.1"
          min="0"
          id="additional"
          name="additional"
          [(ngModel)]="porcentagemAdicional"
          required
        />
      </div>

      <div class="groupAdditional">
        <label for="additional">Adicional R$</label>
        <input
          type="number"
          min="0"
          id="valorAdditional"
          name="valorAdditional"
          [(ngModel)]="valorAdicional"
          required
        />
      </div>
    </div>

    <div class="line">
      <div class="groupCostTotal">
        <label for="costTotal">Custo Produtos</label>
        {{ custoProdutos | currency : "BRL" }}
      </div>
      <div class="groupProfitPercentage">
        <label for="profit">Lucro</label>
        {{ lucro | currency : "BRL" }}
      </div>
    </div>

    <div class="line">
      <div class="groupProductionCost">
        <label for="productionCost">Total Produtos</label>
        {{ precoTotalProduos | currency : "BRL" }}
      </div>
      <div class="groupSalary">
        <label for="salary">Salário</label>
        <p>{{ salario | currency : "BRL" }}</p>
      </div>
    </div>

    <div class="line">
      <div class="groupProductionCost">
        <label for="productionCost">Adicional Orçamento</label>
        {{ adicionalOrcamento | currency : "BRL" }}
      </div>
      <div class="groupSellingPrice">
        <label for="sellingPrice">Preço Total</label>
        {{ precoTotal | currency : "BRL" }}
      </div>
    </div>

    <div class="buttons">
      <button
        type="submit"
        class="btnSave"
        (click)="saveBudget()"
        [disabled]="enviando"
      >
        <fa-icon [icon]="faSpinner" [spin]="true" *ngIf="enviando"></fa-icon>
        <p *ngIf="!enviando">Salvar</p>
      </button>
      <button routerLink="/painel/orcamento" type="reset" class="btnCancel">
        Cancelar
      </button>
    </div>
  </section>
</div>
<app-budget-modal
  (save)="handleSave($event)"
  (close)="handleClose()"
  [items]="items"
  *ngIf="open"
  [selectedItems]="selectedItems"
></app-budget-modal>
