.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.legendItem {
  display: flex;
  text-align: center;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 16px;
  width: 80px;
}

.color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-bottom: 8px;
}

.green {
  background-color: #7eff6e;
}

.yellow {
  background-color: #ffe769;
}

.red {
  background-color: #ff6e6e;
}
