<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Finalizado</option>
      <option value="false">Pendente</option>
      <option value="false">Produção</option>
      <option value="false">Cancelado</option>
    </select>
    <h2>Orçamento</h2>
    <input type="text" name="" id="" />
  </header>
  <div class="cardList">
    <ng-container *ngFor="let budget of budgets">
      <div class="card">
        <div class="cardDetail">
          <div class="cardDetailHeader">
            <h3>{{ budget.data.nome }}</h3>
            <fa-icon
              [icon]="faPrinter"
              class="icon"
              (click)="printBudget(budget.id)"
              target="_blank"
            ></fa-icon>
          </div>
          <div class="date">
            <p>
              {{ budget.data.dataEntrega.toDate() | date : "dd/MM/yyyy HH:MM" }}
            </p>
            <div class="status cancelado">
              <span>Ativo</span>
            </div>
          </div>
        </div>
        <img src="{{ budget.data.urlImage }}" alt="" />
        <div class="cardMore">
          <div class="more">
            <h4>Tema:</h4>
            <h4>Valor Total:</h4>
          </div>
          <div class="more">
            <p>{{ budget.data.tema }}</p>
            <p>{{ budget.data.precoTotal | currency : "BRL" }}</p>
          </div>
        </div>
        <div class="buttons">
          <button class="btnCancel" (click)="editBudget(budget.id)">
            Editar
          </button>
          <button class="btnSave">Transformar pedido</button>
        </div>
      </div>
    </ng-container>
  </div>
  <div
    routerLink="/painel/orcamento/adicionar"
    class="floatButton"
    [style]="menuOpen ? 'right: 300px' : ''"
  >
    <fa-icon [icon]="faAdd" class="icon"></fa-icon>
  </div>
</section>
