<div class="modalBackground">
  <div class="modalContent">
    <div class="modalHeader">
      <h2>Selecionar Precificação</h2>
      <span class="close" (click)="closeSelection()">&times;</span>
    </div>
    <div class="modalBody">
      <input
        type="text"
        placeholder="Buscar precificação"
        [(ngModel)]="searchInput"
        class="searchInput"
      />
      <div class="cardsContainer">
        <div
          class="card"
          *ngFor="let item of items"
          (click)="toggleSelection(item)"
          [class.selected]="item.selected"
        >
          <h3>{{ item.data.nome }}</h3>
          <p>Valor de venda: {{ item.data.precoTotal | currency : "BRL" }}</p>
          <p>Quantidade: {{ item.data.quantidade }}</p>
        </div>
      </div>
    </div>
    <div class="modalFooter">
      <button class="btnSave" (click)="saveSelection()">Salvar</button>
    </div>
  </div>
</div>
