@import url("../display/colors.scss");

.container {
  padding: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.btnCancel:active {
  transform: translateY(2px);
}

.configSection {
  display: none;
  animation: fadeIn 4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 40px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

h3 {
  margin-top: 16px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
  gap: 16px;

  button {
    max-width: 300px;
  }

  .btnCancel {
    width: 45%;
  }

  .btnSave {
    width: 45%;

    &:disabled {
      filter: opacity(0.8);
      cursor: not-allowed;
    }
  }
}

.msgGroup,
.inputGroup {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.inputGroup {
  min-width: 300px;
}

.msgGroup {
  width: 100%;
}

input {
  max-width: 100%;
}

textarea {
  color: var(--display-secondary-color);
  border-radius: 8px;
  border: 1px solid #212121;
  padding: 10px;
  width: 100%;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .inputGroup {
    min-width: 100%;
  }

  .buttons {
    justify-content: space-between;
  }
}

.tabs {
  display: flex;
  background-color: #fafafa;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 50px;
}

.tabs button {
  flex: 1;
  background-color: transparent;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  color: #747e9f;
  outline: none;
  border-radius: 12px;
}

.tabs button i {
  margin-right: 5px;
}

.tabs button.active {
  color: #fff;

  background-color: var(--display-secondary-color);
}

.configSection {
  display: none;
}

.configSection.active {
  display: block;
}

@media (max-width: 768px) {
  .container {
    padding: 24px;
  }

  .tabs {
    flex-wrap: wrap;
    margin-bottom: 24px;
  }

  .tabs button {
    flex-basis: calc(50% - 20px);
    margin: 10px;
  }
}
