.container {
  padding: 50px;
}

.card {
  padding: 24px;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 24px;
}

h2 {
  margin-bottom: 40px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
}

h3 {
  margin-top: 16px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 16px;
  gap: 16px;

  button {
    max-width: 300px;
  }

  .btnCancel {
    width: 45%;
  }

  .btnSave {
    width: 45%;
  }
}

.inputGroup {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 300px;
}

input {
  flex-grow: 1;
}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .buttons {
    justify-content: space-between;
  }
}
