<section class="container">
  <div class="card">
    <h2>Configurações</h2>
    <div class="formGroup">
      <div class="sectionContainer">
        <div class="inputGroup">
          <label for="salarioM">Salário mensal desejado</label>
          <input type="number" id="salarioM" />
        </div>
        <div class="inputGroup">
          <label for="diasTrabalho">Dias de trabalho mensal</label>
          <input type="number" id="diasTrabalho" />
        </div>
        <div class="inputGroup">
          <label for="horasTrabalhadas">Horas trabalhadas por dia</label>
          <input type="number" id="horasTrabalhadas" />
        </div>
        <div class="inputGroup">
          <label for="validade">Validade do orçamento (dias)</label>
          <input type="number" id="validade" />
        </div>
        <div class="inputGroup">
          <label for="salarioH">Salário por hora</label>
          <input type="number" id="salarioH" disabled />
        </div>
      </div>

      <h3>Metas - Mensais</h3>
      <div class="sectionContainer">
        <div class="inputGroup">
          <label for="orcamento">Meta Qtde. de Orçamento</label>
          <input type="number" id="orcamento" />
        </div>
        <div class="inputGroup">
          <label for="venda">Meta Qtde. de Vendas</label>
          <input type="number" id="venda" />
        </div>
        <div class="inputGroup">
          <label for="recebimento">Meta recebimento</label>
          <input type="number" id="recebimento" />
        </div>
      </div>
      <div class="buttons">
        <button href="" class="btnSave">Salvar</button>
        <button href="" class="btnCancel">Limpar</button>
      </div>
    </div>
  </div>
</section>
