<section class="container">
  <div class="card">
    <h2>Configurações</h2>
    <div class="formGroup">
      <label for="salarioM">Salario mensal</label>
      <input type="number" id="salarioM" />
      <label for="validade">Validade do orçamento (dias)</label>
      <input type="number" id="validade" />
      <label for="salarioH">Salario hora</label>
      <input type="number" id="salarioH" />
      <h3>Metas - Mensais</h3>
      <label for="orcamento">Meta Qtde. de Orçamento</label>
      <input type="number" id="orcamento" />
      <label for="venda">Meta Qtde. de Vendas</label>
      <input type="number" id="venda" />
      <label for="recebimento">Meta recebimento</label>
      <input type="number" id="recebimento" />
      <div class="buttons">
        <button href="" class="btnCancel">Limpar</button>
        <button href="" class="btnSave">Salvar</button>
      </div>
    </div>
  </div>
</section>
