<div class="card">
  <div class="cardDetail">
    <input
      [class]="editMode ? 'titleEdit' : 'title'"
      [value]="name"
      [disabled]="!editMode"
      [(ngModel)]="name"
    />
  </div>
  <div class="cardMore">
    <div class="more">
      <h4>Marca:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [value]="brand"
        [disabled]="!editMode"
        [(ngModel)]="brand"
      />
    </div>
    <div class="more">
      <h4>Quantidade:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [value]="quantity"
        [disabled]="!editMode"
        [(ngModel)]="quantity"
      />
    </div>
    <div class="more">
      <h4>Valor:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [value]="editMode ? price : (price | currency : 'BRL' : '00.00')"
        [disabled]="!editMode"
        [(ngModel)]="price"
      />
    </div>
    <div class="more">
      <h4>Estoque:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [value]="stock"
        [disabled]="!editMode"
        [(ngModel)]="stock"
      />
    </div>
  </div>
  <div class="buttons">
    <button class="btnSave" (click)="handleEditButton()">
      {{ editMode ? "Salvar" : "Editar" }}
    </button>
    <button class="btnCancel" (click)="handleDeleteButton()">
      {{ editMode ? "Cancelar" : "Excluir" }}
    </button>
  </div>
</div>
