<div class="card" *ngIf="!cancelled">
  <div class="cardDetail">
    <input
      [class]="editMode ? 'titleEdit' : 'title'"
      [disabled]="!editMode"
      [(ngModel)]="name"
      autofocus
    />
  </div>
  <div class="cardMore">
    <div class="more">
      <h4>Marca:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [disabled]="!editMode"
        [(ngModel)]="brand"
      />
    </div>
    <div class="more">
      <h4>Quantidade:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [disabled]="!editMode"
        [(ngModel)]="quantity"
        type="number"
      />
    </div>
    <div class="more">
      <h4>Valor:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [disabled]="!editMode"
        [ngModel]="editMode ? price : (price | currency : 'BRL')"
        (ngModelChange)="price = $event"
        [type]="editMode ? 'number' : 'text'"
        step="0.1"
      />
    </div>
    <div class="more">
      <h4>Estoque:</h4>
      <input
        [class]="editMode ? '' : 'editFalse'"
        [disabled]="!editMode"
        [(ngModel)]="stock"
        type="number"
      />
    </div>
  </div>
  <div class="buttons">
    <button class="btnSave" (click)="handleEditButton()">
      {{ editMode ? "Salvar" : "Editar" }}
    </button>
    <button class="btnCancel" (click)="handleDeleteButton()">
      {{ editMode ? "Cancelar" : "Excluir" }}
    </button>
  </div>
</div>
