.card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 250px;
  border-radius: 16px;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
}

.cardDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 16px;
  font-weight: 600;
  border: none;
  color: #000;
  width: 100%;
  text-align: center;
}

.cardMore {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.more {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.editFalse {
  border: none;
  color: #000;
  font-size: 14px;
}

input {
  text-align: end;
  padding: 4px;
  width: 50%;
}

.titleEdit {
  font-size: 16px;
  text-align: center;
  width: 80%;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}
