@import url("../../page/display/colors.scss");

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  header {
    margin-bottom: 24px;
  }
}

.estoqueItem {
  flex-grow: 1;
  overflow-y: auto;
}

a {
  margin-top: 12px;
  text-align: center;
  color: var(--display-secondary-color);
  cursor: pointer;
}

a:hover {
  // color: rgba(var(--display-secondary-color), 0.8);
}
