<div class="delivery-list">
  <ul>
    <li *ngFor="let delivery of currentDeliveries">
      <div class="deliveryitem">
        <div
          class="status"
          [style.background-color]="getLegendColor(delivery.date)"
        ></div>
        <div class="content">
          <div class="header">
            <h3>{{ delivery.title }}</h3>
            <div class="date">
              <fa-icon
                *ngIf="!todaySelected"
                [icon]="faCalendarAlt"
                class="icon"
              ></fa-icon>
              <fa-icon
                *ngIf="todaySelected"
                [icon]="faClock"
                class="icon"
              ></fa-icon>
              <p *ngIf="!todaySelected">
                {{ delivery.date | date : "dd/MM/yyyy" }}
              </p>
              <p *ngIf="todaySelected">
                {{ delivery.date | date : "HH:mm" }}
              </p>
            </div>
          </div>

          <p>{{ delivery.description }}</p>
        </div>
      </div>
    </li>
  </ul>
</div>
