<div class="container">
  <div class="horizontalDireita flex-3">
    <div class="card full flex-3">
      <app-delivery class="content"></app-delivery>
    </div>
  </div>

  <div class="horizontalEsquerda flex-9">
    <div class="verticalTop">
      <div class="card flex-4">
        <app-goal class="content"></app-goal>
      </div>
      <div class="card flex-5">
        <app-analysis class="content"></app-analysis>
      </div>
    </div>
    <div class="verticalBottom">
      <div class="card flex-6">
        <app-all-info class="content"></app-all-info>
      </div>
      <div class="card flex-3">
        <app-stock class="content"></app-stock>
      </div>
    </div>
  </div>
</div>
