<div class="container">
  <div class="horizontalDireita flex-3">
    <div class="card full flex-3">
      <app-delivery class="content"></app-delivery>
    </div>
  </div>

  <div class="horizontalEsquerda flex-9">
    <div class="verticalTop">
      <div class="flex-4">
        <div class="card">Card 1 (Flex 4)</div>
      </div>
      <div class="card flex-5">
        <app-analysis class="content"></app-analysis>
      </div>
    </div>
    <div class="verticalBottom">
      <div class="card flex-6">Card 3 (Flex 6)</div>
      <div class="flex-3">
        <div class="card">Card 4 (Flex 3)</div>
      </div>
    </div>
  </div>
</div>
