<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Com Estoque</option>
      <option value="false">Sem Estoque</option>
    </select>
    <h2>Insumos</h2>
    <input type="text" name="" id="" />
  </header>

  <div class="cardList">
    <ng-container *ngFor="let commoditie of commoditiesList">
      <app-commoditie-card
        [id]="commoditie.id"
        [name]="commoditie.name"
        [brand]="commoditie.brand"
        [quantity]="commoditie.quantity"
        [price]="commoditie.price"
        [stock]="commoditie.stock"
      ></app-commoditie-card>
    </ng-container>
  </div>
</section>
