<section class="container">
  <header class="headerTop">
    <select class="custom-select">
      <option value="todos">Todos</option>
      <option value="true">Com Estoque</option>
      <option value="false">Sem Estoque</option>
    </select>
    <h2>Insumos</h2>
    <input type="text" name="" id="" />
  </header>

  <div class="cardList">
    <ng-container *ngFor="let commoditie of commoditiesList">
      <app-commoditie-card
        [id]="commoditie.id"
        [name]="commoditie.data?.name"
        [brand]="commoditie.data?.brand"
        [quantity]="commoditie.data?.quantity"
        [price]="commoditie.data?.price"
        [stock]="commoditie.data?.stock"
      ></app-commoditie-card>
    </ng-container>
  </div>
  <div class="floatButton" (click)="addCommoditie()">
    <fa-icon [icon]="faAdd" class="icon"></fa-icon>
  </div>
</section>
